// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Custom Typography
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), local("OpenSans"),
    url("../typography/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-celeste: (
  50: #f4fcfd,
  100: #e3f6fb,
  200: #d1f1f8,
  300: #bfebf5,
  400: #b1e6f2,
  500: #a3e2f0,
  600: #9bdfee,
  700: #91daec,
  800: #88d6e9,
  900: #77cfe5,
  A100: #ffffff,
  A200: #ffffff,
  A400: #feffff,
  A700: #e5faff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$mat-azul: (
  50: #e5e5f2,
  100: #bdbfe0,
  200: #9194cb,
  300: #6569b6,
  400: #4449a6,
  500: #232996,
  600: #1f248e,
  700: #1a1f83,
  800: #151979,
  900: #0c0f68,
  A100: #9b9dff,
  A200: #686bff,
  A400: #353aff,
  A700: #1b21ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$challenge_web-primary: mat.define-palette($mat-azul);
$challenge_web-accent: mat.define-palette($mat-celeste, A200, A100, A400);

// The warn palette is optional (defaults to red).
$challenge_web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$challenge_web-theme: mat.define-light-theme(
  (
    color: (
      primary: $challenge_web-primary,
      accent: $challenge_web-accent,
      warn: $challenge_web-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($challenge_web-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
}
mat-error,
mat-hint {
  font-size: small;
}
mat-form-field {
  margin-bottom: 10px;
}
